<!--
This template loads for the 'tab.location-detail' state (app.js)
'location' is a $scope variable created in the LocationsCtrl controller (controllers.js)
The LocationsCtrl pulls data from the Locations service (service.js)
The Locations service returns an array of friend data
-->
<ion-view view-title="{{location.name}}">
  <ion-content class="padding">
    <img ng-src="{{location.face}}" style="width: 64px; height: 64px">
    <h3>Notes</h3>
    <p>
      {{location.notes}}
    </p>
  </ion-content>
</ion-view>
