<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="info.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="info.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
      <div class = "button-bar">
        <button class="button button-clear button-calm" ng-click="signup()">Sign Up</button>
      </div>
  </ion-content>
</ion-view>
