<ion-view hide-back-button= "true" view-title="New Todo">

  <ion-nav-buttons side= "right">
    <button class= "button button-clear icon ion-ios7-close-empty"
    ng-click="close()">
    </button>
  </ion-nav-buttons>

  <ion-content class = "padding">
      <ion-list>
        <ion-item class= "item-divider"></ion-item>

        <ion-item class="item-input">
          <input type="text" placeholder="Task" ng-model="todo.task">
        </ion-item>
        <ion-item class= "item-divider"></ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-calendar"></i>
          <span class="input-label">Date</span>
          <input type="date" ng-model="todo.date">
        </ion-item>
      </ion-list>
      <div class="item item-icon-left">
        <i class="icon ion-map"></i>
        <ion-toggle ng-model="addLocation" toggle-class="toggle-info">
          Location
        </ion-toggle>
      </div>
      <!--toggles for location-->
      <div class = "item item-icon-left" ng-show="addLocation">
        <!--click to map page-->
        <a href="#/tab/locations">
          <i class="icon ion-ios7-navigate-outline"></i>
        </a>
        Set Location
      </div>
      <div class= "item item-divider"></div>
      <div class= "item">
          <ion-toggle ng-model="todo.push_notif" toggle-class="toggle-info">
            Push Notification
          </ion-toggle>
      </div>
      <div>
        <button ng-click="createTodo()"
        class="button button-block button-positive">
          Create
        </button>
      </div>
      <!--testing data binding
      <p>{{todo.task}}</p>
      <p>{{todo.push_notif}}</p>
      <p>{{todo.date}}</p>
      -->
  </ion-content>

</ion-view>
