<ion-view view-title="New Todo">

  <ion-nav-buttons side= "right">
    <button class= "button button-clear icon ion-ios7-close-empty"
    ng-click="close()">
    </button>
  </ion-nav-buttons>

  <ion-content class = "padding">
      <ion-list>
        <ion-item class= "item-divider"></ion-item>

        <ion-item class="item-input">
          <input type="text" placeholder="Task" ng-model="todo.task">
        </ion-item>
        <ion-item class= "item-divider"></ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-calendar"></i>
          <span class="input-label">Date</span>
          <input type="date" ng-model="todo.date">
        </ion-item>
        <ion-item class= "item-divider"></ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-map"></i>
          <ion-toggle ng-model="addLocation" toggle-class="toggle-info">
            Location
          </ion-toggle>
        </ion-item>
        <ion-item ng-show="addLocation">
          hello
        </ion-item>
        <ion-item class= "item-divider"></ion-item>
        <ion-item>
            <ion-toggle ng-model="todo.push_notif" toggle-class="toggle-info">
              Push Notification
            </ion-toggle>
        </ion-item>
      </ion-list>
      <div>
        <button ng-click="createTodo()"
        class="button button-block button-positive">
          Create
        </button>
      </div>
      <!--testing data binding
      <p>{{todo.task}}</p>
      <p>{{todo.push_notif}}</p>
      <p>{{todo.date}}</p>
      -->
  </ion-content>

</ion-view>
