<ion-view view-title="{{todo.task}}">
  <ion-nav-buttons side= "right">
    <button ng-hide= "editEnabled"
            class= "button button-clear"ng-click="editEnabled = !editEnabled">
      Edit
    </button>
    <button ng-show= "editEnabled"
            class= "button button-clear"ng-click="editEnabled = !editEnabled">
      Save
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
        <input ng-model="todo.task">
        <input type="date"ng-model="todo.date">
      </div>

      <div class="item item-body">
        <!--display map here of location -->
      </div>
    </div>
    <!--display map here of location -->
    {{todo.completed}}
    {{todo.loc.lat}}
    {{todo.loc.long}}
  </ion-content>
</ion-view>
